#main {
  font-family: 'Slabo 27px', serif;
  padding-top: 20px;
}

#main p {
  font-family: 'Open Sans', sans-serif;
}

pre, code { font-family: Hack, monospace; }

#button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin-right: 5px;
  margin-top: 10px;
  font-size: 24px;
}
